hr {
  border-style: dotted;
  width: 5%;
  border-top: none;
  border-width: 5px;
  margin: 0 auto;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

// .fadeInRight {
//   animation: fadeInRight 1.2s ease-in-out;
// }

.fadeInUp {
  animation: fadeInUp 1.2s ease-in-out;
}

@media (min-width: 1000px) {
  .wobbleAnim:hover {
    display: inline-block;
    animation: wobble-vertical 1s ease-in;
  }
}

#particles-js {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particles-js-canvas-el {
  position: absolute;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

h3 {
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.head {
  text-align: center;
  height: 80vh;
  background-color: #ea907a;
}

.heading {
  line-height: normal;
  padding-bottom: 10rem;

  .head-main {
    color: black;
    display: block;
    font-family: "Major Mono Display";
    animation: moveLeft 1.3s ease-in-out;

    @media (max-width: 550px) {
      font-size: 4rem;
      letter-spacing: 0;
    }

    @media (min-width: 551px) {
      font-size: 6rem;
      letter-spacing: 0.5rem;
    }

    @media (min-width: 1300px) {
      font-size: 7rem;
      letter-spacing: 1rem;
    }
  }

  .head-second {
    color: black;
    display: block;
    font-family: "Sacramento";
    margin-top: 2rem;
    animation: moveRight 1.3s ease-in-out;

    @media (max-width: 550px) {
      font-size: 2.8rem;
      letter-spacing: 0;
      padding-bottom: 5rem;
    }

    @media (min-width: 551px) {
      font-size: 4.8rem;
      letter-spacing: 0;
    }

    @media (min-width: 1300px) {
      font-size: 4.5rem;
      letter-spacing: 0;
    }
  }
}

.sec-1 {
  background-color: #f4f7c5;
  padding: 10% 5%;

  @media (min-width: 850px) {
    display: flex;

    .space-right {
      padding-right: 5rem;
    }

    .space-left {
      padding-left: 5rem;
    }

    hr {
      visibility: hidden;
    }

    .fadeInLeft {
      animation-name: fadeInLeft;
    }

    .fadeInRight {
      animation-name: fadeInRight;
    }
  }

  @media (max-width: 550px) {
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 7rem 3rem;
  }

  @media (min-width: 551px) {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 7rem 5rem;
  }

  @media (min-width: 1300px) {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 10rem 7rem;
  }

  @media (min-width: 1400px) {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 10rem 7rem;
  }
}

.sec-2 {
  padding: 10rem;

  background-color: #fbc687;

  @media (max-width: 550px) {
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 7rem 3rem;
  }

  @media (min-width: 551px) {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 7rem 5rem;
  }

  @media (min-width: 1300px) {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 10rem 7rem;
  }
}

.foot {
  .heart {
    position: relative;
    top: 1.5px;
    height: 17px;
  }

  padding-top: 5rem;
  text-align: center;
  background-color: #aacdbe;

  @media (max-width: 550px) {
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    padding-bottom: 5rem;
  }

  @media (min-width: 551px) {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    padding-bottom: 5rem;
  }

  @media (min-width: 1300px) {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    padding-bottom: 7rem;
  }
}

p {
  padding-top: 2rem;
}

.div-ico {
  text-align: center;

  img {
    @media (max-width: 550px) {
      display: inline-block;
      height: 20px;
      width: 20px;
      padding: 1rem;
    }

    @media (min-width: 551px) {
      display: inline-block;
      height: 30px;
      width: 30px;
      padding: 1.3rem;
    }

    @media (min-width: 1300px) {
      display: inline-block;
      height: 30px;
      width: 30px;
      padding: 1.5rem;
    }
  }
}