hr {
  border-style: dotted;
  width: 5%;
  border-top: none;
  border-width: 5px;
  margin: 0 auto;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation: fadeInUp 1.2s ease-in-out;
}

@media (min-width: 1000px) {
  .wobbleAnim:hover {
    display: inline-block;
    animation: wobble-vertical 1s ease-in;
  }
}
#particles-js {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particles-js-canvas-el {
  position: absolute;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

h3 {
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.head {
  text-align: center;
  height: 80vh;
  background-color: #ea907a;
}

.heading {
  line-height: normal;
  padding-bottom: 10rem;
}
.heading .head-main {
  color: black;
  display: block;
  font-family: "Major Mono Display";
  animation: moveLeft 1.3s ease-in-out;
}
@media (max-width: 550px) {
  .heading .head-main {
    font-size: 4rem;
    letter-spacing: 0;
  }
}
@media (min-width: 551px) {
  .heading .head-main {
    font-size: 6rem;
    letter-spacing: 0.5rem;
  }
}
@media (min-width: 1300px) {
  .heading .head-main {
    font-size: 7rem;
    letter-spacing: 1rem;
  }
}
.heading .head-second {
  color: black;
  display: block;
  font-family: "Sacramento";
  margin-top: 2rem;
  animation: moveRight 1.3s ease-in-out;
}
@media (max-width: 550px) {
  .heading .head-second {
    font-size: 2.8rem;
    letter-spacing: 0;
    padding-bottom: 5rem;
  }
}
@media (min-width: 551px) {
  .heading .head-second {
    font-size: 4.8rem;
    letter-spacing: 0;
  }
}
@media (min-width: 1300px) {
  .heading .head-second {
    font-size: 4.5rem;
    letter-spacing: 0;
  }
}

.sec-1 {
  background-color: #f4f7c5;
  padding: 10% 5%;
}
@media (min-width: 850px) {
  .sec-1 {
    display: flex;
  }
  .sec-1 .space-right {
    padding-right: 5rem;
  }
  .sec-1 .space-left {
    padding-left: 5rem;
  }
  .sec-1 hr {
    visibility: hidden;
  }
  .sec-1 .fadeInLeft {
    animation-name: fadeInLeft;
  }
  .sec-1 .fadeInRight {
    animation-name: fadeInRight;
  }
}
@media (max-width: 550px) {
  .sec-1 {
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 7rem 3rem;
  }
}
@media (min-width: 551px) {
  .sec-1 {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 7rem 5rem;
  }
}
@media (min-width: 1300px) {
  .sec-1 {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 10rem 7rem;
  }
}
@media (min-width: 1400px) {
  .sec-1 {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 10rem 7rem;
  }
}

.sec-2 {
  padding: 10rem;
  background-color: #fbc687;
}
@media (max-width: 550px) {
  .sec-2 {
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 7rem 3rem;
  }
}
@media (min-width: 551px) {
  .sec-2 {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 7rem 5rem;
  }
}
@media (min-width: 1300px) {
  .sec-2 {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 10rem 7rem;
  }
}

.foot {
  padding-top: 5rem;
  text-align: center;
  background-color: #aacdbe;
}
.foot .heart {
  position: relative;
  top: 1.5px;
  height: 17px;
}
@media (max-width: 550px) {
  .foot {
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 551px) {
  .foot {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 1300px) {
  .foot {
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    padding-bottom: 7rem;
  }
}

p {
  padding-top: 2rem;
}

.div-ico {
  text-align: center;
}
@media (max-width: 550px) {
  .div-ico img {
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 1rem;
  }
}
@media (min-width: 551px) {
  .div-ico img {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 1.3rem;
  }
}
@media (min-width: 1300px) {
  .div-ico img {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 1.5rem;
  }
}